<html>
<div class="scene-01">
    <!-- Position & size must be set here (not in CSS). top, left, width, height are observed by
                JavaScript for pinning these elements over the resizable and centered video. -->
    <img id="playVideo01" class="button-player" hidden top="40%" left="65%" width="6%" height="6%">
    <img id="playVideo02" class="button-player" hidden top="28%" left="23%" width="6%" height="6%">
    <img id="playVideo03" class="button-player" hidden top="68%" left="27%" width="6%" height="6%">
    <img id="infoButton01" class="button-info" hidden top="65%" left="55%" width="3.6%" height="6%">
</div>
</html>